@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<link href="~/css/SearchLocation.css" rel="stylesheet" />
<script src="~/js/SearchLocation.js"></script>

<h1>Search</h1>

<div id="spinner"></div>

<div class="row">
    <div class="col-md-12">
        @using(Html.BeginForm("Search", "Search", FormMethod.Post, new { @id = "search_form" })) {
            <div class="input-group">
                <div class="col-md-12">
                    @Html.Label("Location")
                </div>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control bs-autocomplete" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="input-group mt-3">
                <div class="col-md-6">
                    @Html.Label("Max Distance (in meters)")
                </div>
                <div class="col-md-6">
                    @Html.Label("Max Result")
                </div>
            </div>
            <div class="input-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.MaxDistance, new { htmlAttributes = new { @class = "form-control ValidateOnChange" } })
                    @Html.ValidationMessageFor(model => model.MaxDistance, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.MaxResult, new { htmlAttributes = new { @class = "form-control ValidateOnChange" } })
                    @Html.ValidationMessageFor(model => model.MaxResult, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="input-group mt-6">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="form-control btn-primary">Search</button>
                </div>
                <div class="col-md-3">
                    <button id="reset" type="button" class="form-control btn-secondary">Reset</button>
                </div>
            </div>
        }
    </div>

    @Html.Partial("_LocationGrid")
</div>
